/* added by huma */

p {
    font-size: 15px;
    line-height: 25px;
}
button.btn.btn-dark {
    border: 1px px solid #424a4d !important;
}
.accordion-button {
    border-bottom: 2px solid rgb(172, 172, 172) !important;
    border: 0px;
    padding: 15px;
}
.accordion-collapse {
    border: 0px;
    border-width: 0 1px;
    background-color: white;
}
.accordion-button:not(.collapsed) {
    color: #444444;
    background-color: rgb(194, 194, 194) !important;
}
.accordion-button:focus {
    box-shadow: none;
}

.top-header .middle-nav-bar .row {
    background-color: rgba(128, 128, 128, 0.459);
}
form#searchForm {
    border: 1px solid !important;
}
nav.navbar.navbar-expand-lg.nav-dark.nav-primary-hover.nav-line-active {
    overflow: auto;
    white-space: nowrap;
}

.main-features-section .card {
    height: auto; /* Set a fixed height for the card */
    overflow: hidden; /* Hide any content that overflows the card */
    /* transition: box-shadow .3s; */
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

/* cards */

.main-features-section .card,
.ubs-section .card,
.recruitment-section .card {
    border-radius: 10px;
    filter: drop-shadow(0 5px 10px 0 #ffffff);
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    z-index: 0;
    overflow: hidden;
    transition: 0.6s ease-in;
}

.main-features-section .card::before,
.ubs-section .card::before,
.recruitment-section .card::before {
    content: "";
    position: absolute;
    z-index: -1;
    top: -15px;
    right: -15px;
    background: #f3f3f3;
    height: 220px;
    width: 25px;
    border-radius: 32px;
    transform: scale(1);
    transform-origin: 50% 50%;
    transition: transform 0.25s ease-out;
}

.main-features-section .card:hover::before,
.ubs-section .card:hover::before,
.recruitment-section .card:hover::before {
    transition-delay: 0.2s;

    transform: scale(40);
}

/* .card:hover{
      color: #ffffff !important
      ;

  } */

/* .main-features-section .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
} */
/* .main-features-section .card .card-img {
    height: 203px;
} */
/* .main-features-section .card-item {
    height: 111px;
} */
.main-features-section .card .card-img-sell-product {
    text-align: center;
}
.card img {
    width: fit-content !important;
    height: inherit;
    text-align: center;
}

.main-features-section .card-text {
    font-size: 12px;
    line-height: 18px;
}
.main-features-section .buy-sell p.card-text {
    min-height: 45px;
    max-height: 45px;
}

.main-features-section a.card-link {
    font-size: 13px;
}

.trending-categories-section {
    background-color: #fae95138;
}
.trending-categories-section p {
    font-size: 14px;
    line-height: 21px;
}

.trending-categories-section svg.bi {
    width: 100px;
    height: 100px;
}

.popular-categories-section li.list-group-item {
    border: 0px;
    text-align: left;
    padding: 3px;
    font-size: 13px;
}
.popular-categories-section li.list-group-item:hover {
    text-decoration: underline;
}

.meetup-section .flip-card {
    background-color: transparent;
    /* width: 300px; */
    height: 300px;
    perspective: 1000px;
}

.meetup-section .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

.meetup-section .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.meetup-section .flip-card-front,
.meetup-section .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.meetup-section .flip-card-front {
    background-color: #bbb;
    color: black;
}

.meetup-section .flip-card-back {
    background-color: #222a34;
    color: white;
    transform: rotateY(180deg);
}
.meetup-section .list-group {
    width: inherit;
}
.meetup-section li.list-group-item {
    background-color: #ffffff73;
    border: 0px;
}
.meetup-section .list-group-item span {
    vertical-align: middle;
}
.footer-section p,
.footer-section a,
.footer-section span {
    color: #808080e8;
    font-size: 14px;
    line-height: 20px;
}

.footer-section .copy-rights span {
    font-size: 10px;
}

.container-wrapper-content {
    background-color: #232323;
}

.bg-line-1 {
    width: 475px;
    height: 475px;
    position: absolute;
    border: 1px solid #878585;
    border-radius: 50%;
    opacity: 0.1;
    right: -290px;
    bottom: -237px;
    z-index: 0;
}
.bg-line-2 {
    width: 475px;
    height: 475px;
    position: absolute;
    border: 1px solid #878585;
    border-radius: 50%;
    opacity: 0.1;
    right: -230px;
    bottom: -185px;
    z-index: 0;
}

.recruitment-section .featured-jobs .bg-circle-2,
.recruitment-section .content-recuitment .bg-circle-2 {
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #e7e7e7;
    border-radius: 50%;
    opacity: 0.5;
    left: -90px;
    top: -145px;
    z-index: 0;
}
.recruitment-section .featured-jobs .bg-circle-1,
.recruitment-section .content-recuitment .bg-circle-1 {
    width: 500px;
    height: 500px;
    position: absolute;
    background-color: #b3b3b3;

    border-radius: 50%;
    opacity: 0.5;
    left: -140px;
    top: -200px;
    z-index: 0;
}

.recruitment-section .content-recuitment,
.recruitment-section .featured-jobs {
    overflow: hidden;
    /* margin-top: 70px; */
}
.recruitment-section h2.py-4.text-center.text-secondary,
.recruitment-section h4.py-4.text-center.text-secondary,
.recruitment-section
    .container-fluid.position-relative.content-recuitment
    .container,
.recruitment-section .featured-jobs,
.content-recuitment .col-lg-6.col-md-8.col-sm-12,
.recruitment-section h4.py-4.text-secondary {
    z-index: 1;
}

.recruitment-section .featured-jobs .col-lg-3.col-md-3.col-sm-6,
.content-recuitment .col-lg-6.col-md-8.col-sm-12 {
    z-index: 1;
}
.recruitment-section .featured-jobs .card {
    transition: all 0.3s ease;
}
.recruitment-section p.card-text {
    height: 175px;
}
.recruitment-section h6.card-subtitle.mb-2.text-muted {
    height: 40px;
}
.recruitment-section .card:hover {
    box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
.estate-section .step,
.ubs-section .step {
    width: 65px;
    padding: 20px;
    border-radius: 55px;
}

.estate-section .contact-action-area {
    padding: 70px 100px !important;
    /* margin: 35px 0px 0px 0px !important; */
    background-color: #d7d7d7;
}
.estate-section #accordianImg,
.ubs-section #accordianUbsImg,
.digital-section #ms,
.digital-section #dc,
.digital-section #wd,
.digital-section #smm,
.digital-section #oa,
.digital-section #seo,
.digital-section #cm
 {
    transition: opacity 0.5s ease-in-out;
}

.fade-out {
    opacity: 0;
}
/* card */
.estate-section .card,
.digital-section .card {
    position: relative;
    height: 330px;
    width: 100%;
    background: #fff;
    overflow: hidden;
    float: left;
    margin: 15px;
}
.estate-section .card__content,
.digital-section .card__content {
    position: absolute;
    width: 100%;
    height: 100%;
    /* background: #000; */
    background-color: #ffffffba;
    top: calc(100% - 80px);
    left: 0;
    opacity: 1;
    transition: all 0.75s ease-in-out;
    display: flex;
    align-items: top;
    justify-content: center;
}
.estate-section .card__content-inner,
.digital-section .card__content-inner {
    position: relative;
    display: block;
    height: 80px;
    display: flex;
    flex-flow: column nowrap;
    text-align: center;
    justify-content: center;
    transition: all 0.75s ease-in-out;
}
.estate-section .card__content:after,
.digital-section .card__content:after {
    position: absolute;
    top: 10px;
    left: 10px;
    width: 30px;
    height: 30px;
    border-color: #878787;
    border-style: solid;
    border-width: 2px 0 0 2px;
    content: "";
}
.estate-section .card__title,
.digital-section .card__title {
    font-weight: 600;
    text-transform: uppercase;
    color: #3e3e3e;
    letter-spacing: 1px;
}
.estate-section .card__description,
.digital-section .card__description {
    color: #3e3e3e;
}
.estate-section .card:after,
.digital-section .card:after {
    position: absolute;
    bottom: 10px;
    right: 10px;
    width: 30px;
    height: 30px;
    border-color: #3e3e3e;
    border-style: solid;
    border-width: 0 2px 2px 0;
    content: "";
}
.estate-section .card:hover,
.digital-section .card:hover {
    cursor: pointer;
}
.estate-section .card:hover .card__content,
.digital-section .card:hover .card__content {
    top: 0;
    /* background: #000; */
    transition: all 1s ease-in-out;
    background-color: #ffffffba;
}
.estate-section .card:hover .card__content-inner,
.digital-section .card:hover .card__content-inner {
    height: 100%;
    align-items: center;
    justify-content: center;
    transition: all 1s ease-in-out;
}
.estate-section .card.a50 .card__content,
.digital-section .card.a50 .card__content {
    top: 50%;
}
.estate-section .card.a50 .card__content-inner,
.digital-section .card.a50 .card__content-inner {
    height: 50%;
}
.estate-section .card.a50:hover .card__content,
.digital-section .card.a50:hover .card__content {
    top: 0;
}
.estate-section .card.a50:hover .card__content-inner,
.digital-section .card.a50:hover .card__content-inner {
    height: 100%;
}

.ubs-section .our-service h6.text-secondary {
    min-height: 45px;
}

/* responsiveness  by huma*/
@media (max-width: 2560px) {
    .card-img-sell-product {
        height: 320px;
    }
    .main-features-section .card-img {
        height: 240px;
    }
    .main-features-section .card-item {
        height: 106px;
    }
}
@media (max-width: 1440px) {
    .main-features-section .card-item {
        height: 87px;
    }
    .main-features-section .card .card-img-sell-product {
        height: 280px;
    }
    .main-features-section .card-img {
        height: 202px;
    }
}
@media (max-width: 1024px) {
    .footer-section img {
        width: 60px;
    }
    .footer-section .advertise-number {
        display: block;
        text-align: center;
    }
    .main-features-section .card-item {
        height: 57px;
    }
    .main-features-section .card .card-img-sell-product {
        height: 220px;
    }
    .main-features-section .card-img {
        height: 142px;
    }
}
@media (max-width: 768px) {
    .footer-section img {
        width: 60px;
    }
    .footer-section .advertise-number {
        display: block;
        text-align: center;
    }
    .main-features-section .card-item {
        height: 108px;
    }
    .main-features-section .card .card-img-sell-product {
        height: 322px;
    }
    .main-features-section .card-img {
        height: 245px;
    }
}
@media (max-width: 425px) {
    .footer-section .d-flex.justify-content-sm-center {
        justify-content: center;
        margin-top: 15px;
    }
    .footer-section p.mb-0,
    .footer-section h6 {
        text-align: center;
    }
    .footer-section .social-icons {
        justify-content: center !important;
    }
    .footer-section .copy-rights {
        text-align: center;
    }

    .main-features-section .card-item {
        height: 175px;
    }
    .popular-categories-section li.list-group-item {
        border: 0px;
        text-align: center;
    }
    .main-features-section .card .card-img-sell-product {
        height: 311px;
    }

    .estate-section .contact-action-area {
        padding: 35px 30px !important;
        /* margin: 35px 0px 0px 0px !important; */
        background-color: #d7d7d7;
    }
    .estate-section .contact-action-area .d-flex.justify-content-between {
        display: block !important;
        text-align: center;
    }
}
@media (max-width: 375px) {
    .main-features-section .card .card-img-sell-product {
        height: 270px;
    }
    .main-features-section .card-item {
        height: 140px;
    }
}
@media (max-width: 320px) {
    .main-features-section .card .card-img-sell-product {
        height: 235px;
    }
}
